<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BGLS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ChartOfAccounts.TransactionAccountAddActivity"
            android:exported="false" />
        <activity
            android:name=".ChartOfAccounts.TransactionAccountViewActivity"
            android:exported="false" />
        <activity
            android:name=".ChartOfAccounts.TransactionAccountModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ChartOfAccounts.ChartOfAccountsAddActivity"
            android:exported="false" />
        <activity
            android:name=".ChartOfAccounts.ChartOfAccountsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ChartOfAccounts.ChartOfAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".LoanSchedule.LoanScheduleListActivity"
            android:exported="false" />
        <activity
            android:name=".LoanSchedule.LoanScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".LoanMaster.LoanMasterListActivity"
            android:exported="false" />
        <activity
            android:name=".LoanMaster.LoanMasterActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMaster.CustomerMasterViewActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMaster.CustomerMasterListActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerMaster.CustomerMasterActivity"
            android:exported="false" />
        <activity
            android:name=".OrganizationDetails.ViewBranchActivity"
            android:exported="false" />
        <activity
            android:name=".OrganizationDetails.AddBranchActivity"
            android:exported="false" />
        <activity
            android:name=".ParameterActivity"
            android:exported="false" />
        <activity
            android:name=".OrganizationDetails.DeleteBranchActivity"
            android:exported="false" />
        <activity
            android:name=".OrganizationDetails.EditBranchActivity"
            android:exported="false" />
        <activity
            android:name=".OrganizationDetails.OrganizationDetialsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BGLS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.BGLS.NoActionBar" />
        <activity
            android:name=".UserControl.EmployeProfileAddActivity"
            android:exported="false" />
        <activity
            android:name=".UserControl.UserProfileAddActivity"
            android:exported="false" />
        <activity
            android:name=".UserControl.UserControlActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".NotificationAndLogsActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".AuditTrial.BusinessActivityDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AuditTrial.UserActivityDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AuditTrial.AuditTrailDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMaster.LoanMasterViewActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMaster.LoanScheduleViewActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMaster.AccountLedgerActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMaster.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".Transaction.TransactionActivity"
            android:exported="false" />

        <activity
            android:name=".GLStructureDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".GLStructureModifyActivity"
            android:exported="false" />
        <activity
            android:name=".GLStructureViewActivity"
            android:exported="false" />
        <activity
            android:name=".ReferenceDetailDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ReferenceDetailModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ReferenceDetailViewActivity"
            android:exported="false" />

        <activity android:name=".ReferenceDetailActivity" />

        <activity
            android:name=".OrganizationDetails.ViewBranchActivity"
            android:exported="false" />
        <activity
            android:name=".SchemeCodeViewActivity"
            android:exported="false" />

        <activity
            android:name=".CustomerMaintenance.CustomerMaintenanceActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMaintenance.CustomerMaintenanceViewActivity"
            android:exported="false" />
    </application>

</manifest>